n8n/lead-portfolio-workflow.json
{
  "name": "02 - Webhook lead - Sheets + Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-portfolio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "f4d9d7a8-3cb8-4b06-9bcf-5da4a74aca3f",
      "name": "Webhook",
      "webhookId": "3ad7486c-1f68-41a9-ae70-501b2a5af9f9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "127ac20e-3b4a-42ea-b107-04d44856e7d1",
              "leftValue": "={{ $json.presupuesto }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "e8109b2c-e899-475b-8c2c-50bec9df2dc3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gJWB2CN_GFXaSbofmQ_PxiVMgzxU_NYs-2YHQ0SbInA",
          "mode": "list",
          "cachedResultName": "Leads Portfolio n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gJWB2CN_GFXaSbofmQ_PxiVMgzxU_NYs-2YHQ0SbInA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gJWB2CN_GFXaSbofmQ_PxiVMgzxU_NYs-2YHQ0SbInA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $now }}",
            "telefono": "={{ $json.telefono }}",
            "email": "={{ $json.email }}",
            "nombre": "={{ $json.nombre }}",
            "tipo_negocio": "={{ $json.tipo_negocio }}",
            "mensaje": "={{ $json.mensaje }}",
            "presupuesto": "={{ $json.presupuesto }}",
            "prioridad": "={{ $json.nivel_prioridad }}",
            "estado": "={{ $json.estado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_negocio",
              "displayName": "tipo_negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "presupuesto",
              "displayName": "presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -96
      ],
      "id": "9a901066-f02d-4c83-aa58-20226481dd54",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QxeBqrhjxupi2LK5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gJWB2CN_GFXaSbofmQ_PxiVMgzxU_NYs-2YHQ0SbInA",
          "mode": "list",
          "cachedResultName": "Leads Portfolio n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gJWB2CN_GFXaSbofmQ_PxiVMgzxU_NYs-2YHQ0SbInA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gJWB2CN_GFXaSbofmQ_PxiVMgzxU_NYs-2YHQ0SbInA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $now }}",
            "telefono": "={{ $json.telefono }}",
            "email": "={{ $json.email }}",
            "nombre": "={{ $json.nombre }}",
            "tipo_negocio": "={{ $json.tipo_negocio }}",
            "mensaje": "={{ $json.mensaje }}",
            "presupuesto": "={{ $json.presupuesto }}",
            "prioridad": "={{ $json.nivel_prioridad }}",
            "estado": "={{ $json.estado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_negocio",
              "displayName": "tipo_negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "presupuesto",
              "displayName": "presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        32
      ],
      "id": "b46d431e-0315-42c4-beea-babdf679b0d1",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QxeBqrhjxupi2LK5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kilianvizca@gmail.com",
        "subject": "=Nuevo lead prioritario: {{ $json.nombre }}",
        "message": "=<h2>Nuevo lead prioritario</h2>\n\n<p><strong>Nombre:</strong> {{ $json.nombre }}</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n<p><strong>Teléfono:</strong> {{ $json.telefono }}</p>\n<p><strong>Tipo de negocio:</strong> {{ $json.tipo_negocio }}</p>\n<p><strong>Presupuesto:</strong> {{ $json.presupuesto }} €</p>\n<p><strong>Prioridad:</strong> {{ $json.prioridad }}</p>\n\n<p><strong>Mensaje:</strong></p>\n<p>{{ $json.mensaje }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "89bea5f5-295b-43b1-ac31-4326cde4728b",
      "name": "Send a message",
      "webhookId": "52a7d543-56c6-4a36-be15-05670140b9da",
      "credentials": {
        "gmailOAuth2": {
          "id": "PwLghGf3OfbUEaPy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ce893ee-d5ec-4fc6-843b-2a822c801c4d",
              "name": "fecha",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "f78d2da9-77fe-4152-b857-9349161a536e",
              "name": "nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "ceb76d6c-3ee9-40f7-b742-1f0013587d51",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "0713abc3-28b8-4017-a95f-d28a96a70dee",
              "name": "telefono",
              "value": "={{ $json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "1684cee7-48aa-4fe9-a7f9-7c2ce61acfe3",
              "name": "tipo_negocio",
              "value": "={{ $json.body.tipo_negocio }}",
              "type": "string"
            },
            {
              "id": "7ac7a29d-b195-4313-b10f-ccfec4d706a3",
              "name": "mensaje",
              "value": "={{ $json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "07db49d3-8593-42d9-894e-e9c4b6dff23c",
              "name": "presupuesto",
              "value": "={{ Number($json.body.presupuesto) }}",
              "type": "number"
            },
            {
              "id": "a48567ce-5def-48c0-97f3-bc94e070310b",
              "name": "prioridad_formulario",
              "value": "={{ $json.body.prioridad }}",
              "type": "string"
            },
            {
              "id": "314bd9cd-3e0f-4a15-908a-1c23124ad409",
              "name": "nivel_prioridad",
              "value": "= {{ Number($json.body.presupuesto) >= 1000 ? 'Lead muy prioritario' : Number($json.body.presupuesto) >= 500 ? 'Lead prioritario' : 'Lead normal' }}",
              "type": "string"
            },
            {
              "id": "2f8a152a-9c80-4990-bdd7-327d0c2b8e5e",
              "name": "estado",
              "value": "nuevo",
              "type": "string"
            },
            {
              "id": "2437c0d7-5f8a-4fb6-859b-7cdbccbf0830",
              "name": "fuente",
              "value": "portfolio",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "2cc9b6e3-5225-4626-bd12-36c1b40b43a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Hemos recibido tu solicitud",
        "message": "=Hola {{ $json.nombre }},  Hemos recibido tu solicitud correctamente.  \nGracias por contactar con nosotros. Revisaremos la información que nos has enviado y te responderemos lo antes posible.  \nUn saludo.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        176
      ],
      "id": "ab1b2824-2fab-49d8-b102-b3e23dde0b78",
      "name": "Send a message1",
      "webhookId": "d732d924-c352-4c60-8060-c650f5718627",
      "credentials": {
        "gmailOAuth2": {
          "id": "PwLghGf3OfbUEaPy",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5788331f-50ef-4137-9dd0-9a108df3f13f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "109db77b6ca7ebb7a283fd37245d1f3970abfb0b077eec6bf958ff2689cde463"
  },
  "nodeGroups": [],
  "id": "dLMcro6d6s13BW2u",
  "tags": []
}